<div class="container" ng-controller="SetPwdController as setPwdCtrl">
  <h1>Change Password</h1>
  <form ng-submit="setPwdCtrl.changepwd(credentials)">
    <div class="form-group">
      <input class="form-control" type="password" ng-model="credentials.password" placeholder="New Password">
    </div>
    <div class="form-group">
      <input class="form-control" type="password" ng-model="credentials.confirm" placeholder="Password Confirm">
    </div>
    <div class="form-group">
      <button class="btn btn-default pull-right">Change</button>
    </div>
  </form>
</div>
