

<article class="weui_article">
  <h1>配网说明</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</article>

  <div class="weui_cells_title">带说明的列表项</div>
<div class="weui_cells">
  <div class="weui_cell">
    <div class="weui_cell_bd weui_cell_primary">
      <p>{{data.wechatOpenId}}</p>
    </div>
    <div class="weui_cell_ft">用户openid</div>
  </div>
</div>
<div class="weui_cells">
  <div class="weui_cell">
    <div class="weui_cell_bd weui_cell_primary">
      <p>{{data.deviceId.wechatDeviceId}}</p>
    </div>
    <div class="weui_cell_ft">deviceid</div>
  </div>
</div>


  <div class="container">
    <button  class="weui_btn weui_btn_primary" ng-click="unbindingCtrl.unbind()"  >解绑设备</button>
  </div>
