<form ng-submit="profileCtrl.changePassword(password)">

  <div class="modal-header">
    <h3 class="modal-title">修改密码</h3>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <input class＝"form-control" ng-model="password">
    </div>

    <div class="form-group">
      <input class＝"form-control" ng-model="retypePassword">
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-click="passwordCtrl.changePassword(password)">确定</button>
    <button class="btn btn-default" type="button" ng-click="passwordCtrl.cancel()">取消</button>
  </div>

</form>
